*{
    margin: 0;

}

h2{
    font-size: 32px;
}

h3{
    font-size: 25px;
}

body{
    width: 100%;
    background-color: whitesmoke;
}

header{
    background-color: black;
    background-image: linear-gradient(rgb(14, 14, 14), rgb(59, 59, 59));
    color: white;
    padding: 35px 0 35px 0;

}

.titleHeader{
    margin: 0px auto;
    width: 800px;
}

main{
    width: 800px;
    margin: 0px auto;
    /*border: 1px solid black;  */
    border-top: 0px;
}

p{
    font-size: large;
}

.container{
    margin-top: 35px;
    padding-bottom: 35px;
}

.container p{
    padding: 15px 0 15px 0;
}


.introSect, .skillSect, .projectsSect, .contactSect{
    padding: 25px 0 25px 0; 
}


.skillListSect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px black solid;
    box-shadow: 5px 8px 5px #888888;
    background-color: white;
    padding: 20px;
}

.skillListSect ul li{
    padding: 5px 0 5px 0;
}

.welcomeTitleSect{
    border-bottom: 1px rgb(71, 71, 71) solid;
}

footer{

    background-color: black;
    background-image: linear-gradient(rgb(14, 14, 14), rgb(59, 59, 59));
    color: white;
    padding: 35px 0 35px 0;
}

.prog1815-Ass3, .webRocketProject{
    padding: 18px 0 18px 0;
}

.videoWrapper{
    position: relative;
    padding: 0 0 56.25% 0;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
}

/***** RocketProject Section **********/

#countDownText{
    font-size: 35px;
}

#rocketPiece{
    width:  50px;
    height: 50px;
    position: absolute;
}

.rocketSect{
    height: 400px;
    width: 400px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: azure;

}

.buttonSect{
    text-align: center;
    margin-bottom: 0;
    padding-top: 0;
}

.rocketButton{
    font-size: 35px;
    background-color: aliceblue;
    cursor: pointer;
}

/***** END RocketProject Section **********/

/*****   Contact Form    **********/

.formgridmain{
    color: black;
    display: grid;
    background-color:lightcyan;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    padding: 25px;
}

.fieldWrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    padding: 8px;
}

.fieldSubmit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.inButton{
    padding: 10px;
    cursor: pointer;
}


/********* Contact Form End **********/

.footText{
    margin: 0px auto;
    width: 800px;
}






