*{
    margin: 0;
}

body{
    width: 100%;
    background-color: whitesmoke;
}

header{
    background-color: black;
    background-image: linear-gradient(black, rgb(48, 47, 47));
    color: white;
    padding: 35px 0 35px 0;

}

.titleHeader{
    margin: 0px auto;
    width: 800px;
}

.welcomeSect{
    border-bottom: 1px rgb(71, 71, 71) solid;
}

main{
    width: 800px;
    margin: 0px auto;
    /*border: 1px solid black;  */
    border-top: 0px;


}

.container{
    margin-top: 35px;
}

.introSection{
    padding: 15px 0 15px 0;
}

.skillSection{
    
}